
.rank-imagen {
    width: 110px;
    height: auto;
}

.icono {
    width: 110px;
    height: 110px;
    margin-right: 3%;

}
body {
    background-color:lightgrey ;
}

.history-container {
    width: 50%; /* Ocupar la mitad del ancho */    
    right: 0; /* Posicionarlo a la derecha */
    top: 0;
    padding: 20px;
    margin-top: 120px; /* Ajusta el espacio según el tamaño de tu header */
  }

.champ-imagen {
    width: 50px;
    height: auto;
}
.divBuscador {
    background-image: url("https://i.imgur.com/1vEVLkl.png");
    background-size: cover; /* Asegúrate de que la imagen cubra el fondo */
    background-position: center; /* Centra la imagen */
    height: 200px; /* Aumenta la altura según sea necesario */
    width: 100%; /* Asegúrate de que ocupe todo el ancho del contenedor */
    display: flex; /* Permite el uso de flexbox */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}
  